a:hover {
  background-color: transparent;
  text-decoration: none;
}
.process__section {
  margin: 30% 0;
}

form {
  width: 90%;
  margin: 5%;
}

.input__container {
  display: flex;
  justify-content: start;

  border-radius: 10px;
  background-color: #fff;
  box-shadow: 1px 1px 2px 2px rgba(212, 212, 212, 0.644);

  padding: 2%;
  margin-bottom: 5%;

  line-height: 40px;
}
.input__container i {
  font-size: 15px;
}
.input__container input {
  margin-left: 3%;
  width: 97%;
  border: none;
  outline: none;
}

#btn {
  width: 100%;
  padding: 4% 2%;
  margin: 10% auto;

  background-color: var(--primary-color);
  box-shadow: 8px 10px 10px 1px rgba(136, 166, 248, 0.5);
  border-radius: 10px;
  border: none;
  outline: none;

  color: #fff;
}

#btn:hover {
  background-color: #003e77;
}

.by-pass {
  display: flex;
  justify-content: start;
  gap: 20px;

  font-family: var(--font-inter);
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  text-align: left;
}

.by-pass input[type="checkbox"]:checked {
  background-color: blue;
}
.by-pass input[type="checkbox"] {
  width: 20px;
  height: 20px;
}
