{% extends "main.html" %}
{% load static %}

{% block title %}Buy Airtime{% endblock title %}
{% block style %}
<link rel="stylesheet" href="{% static 'css/buy-airtime.css' %}" />
<link rel="stylesheet" href="{% static 'css/back-header-style.css' %}" />
{% endblock style %}

{% block content %}
<section class="back-container">
    <div class="back-airtime">
        <div><i class="fa-solid fa-arrow-left"></i></div> 
               <p>Airtime</p>
    </div>
    <div class="back-history"><p>History</p></div>
</section>
<section class="buy__airtime">
    <form action="" method="post" onsubmit="return ValidateAirtimeForm()">
        {% csrf_token %}
    <div class="airtime__input">
        <div><i class="fa far fa-money-bill-alt" aria-hidden="true"></i></div>
        <input type="number" name="amount" id="amount" placeholder="Other amount" oninput="clearAmount()" required>
    </div>

    <p class="quick__amount">Quick Amount</p>
    <div class="amount__grid">
        <div class="prices ">N50</div>
        <div class="prices">N100</div>
        <div class="prices">N200</div>
        <div class="prices">N300</div>
        <div class="prices">N500</div>
        <div class="prices">N700</div>
        <div class="prices">N1,000</div>
        <div class="prices">N1,500</div>
        <div class="prices">N2,000</div>
    </div>


    <div class="services__grid">
        <div class="service__item">
            <div class="icon">
                <img src="{% static 'images/9mobile.jpg' %}" alt="" srcset="">
            </div>
            <h5>9Mobile</h5>
        </div>
        <div class="service__item">
            <div class="icon">
                <img src="{% static 'images/glo.jpg' %}" alt="" srcset="">
            </div>
            <h5>Glo</h5>
        </div>
        <div class="service__item">
            <div class="icon">
                <img src="{% static 'images/airtel.png' %}" alt="" srcset="">
            </div>
            <h5>Airtel</h5>
        </div>
        <div class="service__item">
            <div class="icon">
                <img src="{% static 'images/mtn.png' %}" alt="" srcset="">
            </div>
            <h5>MTN</h5>
        </div>
    </div>

   
        <input type="text" name="service" id="service" style="display: none;" readonly>
        <div class="airtime__input phone__input">
            <div><i class="fa fa-phone" aria-hidden="true"></i></div>     
            <input type="number" name="phone" id="phone" placeholder="Enter Phone Number" required>
        </div>

        <button type="submit" id="purchase">Purchase</button>
    </form>

</section>
{% endblock content %}

{% block script %}
<script>
   const all_prices = document.querySelectorAll(".prices");
   const service__item = document.querySelectorAll(".service__item");

   let amount = document.getElementById("amount");
   let service = document.getElementById('service');
   let phone = document.getElementById('phone');

   let purchase = document.getElementById('purchase');

   const servicesArray = ['9Mobile', 'Glo', 'Airtel', 'MTN'];

all_prices.forEach((btn) => {
  btn.addEventListener("click", function () {
    all_prices.forEach((conatiner) => {
      conatiner.classList.remove("active");
     
    });

    var newAmount = btn.textContent.slice(1);
   var amountInNumber = parseFloat(newAmount.replace(/,/g, ''));
 
 

    btn.classList.add("active");
    amount.value = amountInNumber;
  });
});
service__item.forEach((btn) => {
  btn.addEventListener("click", function () {
    service__item.forEach((conatiner) => {
      conatiner.classList.remove("active");
     
    });

    btn.classList.add("active");
   service.value = btn.textContent.trim();



    
  });
});

function clearAmount() {
    all_prices.forEach((container) => {
      container.classList.remove("active");
     
    });

}

// Validating Airtime form
function ValidateAirtimeForm() {

  if (amount.value == "") {
    showAlert("Amount must be choosen");
   
    return false;
  }
  if (service.value == "") {
    showAlert("Service must be choosen");
   
    return false;
  }

  //Phone Number Conditions
  if (phone.value.length > 11) {
    showAlert("Phone number must not exceed 11 digits");

    return false;
  }

  if (phone.value.length < 11) {
    showAlert("Incomplete phone number");

    return false;
  }

  return true;
}
</script>
<script src="{% static 'js/main.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.0/sweetalert.min.js"></script>
{% endblock script %}
