{% extends "main.html" %}
{% load static %}

{% block title %}Create Pin{% endblock title %}

{% block content %}
<section class="create__pin__section">
    <form>
        
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    </form>
</section>
{% endblock content %}

{% block script %}
{% endblock script %}
