{% extends "main.html" %}
{% load static %}
{% block title %}
      Reset Password
{% endblock title %}

{% block content %}
 <main>
      <section class="register">
        <div class="register__item register__bg">
          <div class="register__content">
            <div class="content__center">
              <img
                src="../images/download.png "
                alt="cool data plug logo"
                class="regiser__logo rotate-scale-up"
                srcset=""
              />
              <h2 class="title title__size">
                COOL <span style="color: #003e77">DATA</span> PLUG
              </h2>
              <h1>
                The best platform to purchase the most affordable and cheapest
                data, Airtime, Cable Subscription, Utility Bill Payment and so
                much more
              </h1>
            </div>
          </div>
        </div>

      
        <div class="register__item reset">
            <div class="reset__pass">
              <h1>Password Reset</h1>
  
              <p class="poppins-light">
                Enter your phone number and we'll send you a password reset link
              </p>
            </div>
  
            <form
              class="register__form forgot__form"
              id="register__form"
              onsubmit="return validateForgotForm()"
              style="height: auto"
            >
              <span class="error__text" id="error"></span>
              <div class="form__input" id="pnumber__container">
                <div><i class="fa fa-phone" aria-hidden="true"></i></div>
                <input
                  type="number"
                  placeholder="Phone Number"
                  class="poppins-light"
                  id="pnumber"
                  name="pnumber"
                  required
                />
              </div>
  
              <button type="submit" class="regiser__button">Send</button>
            </form>
          </div>
      </section>
    </main>
{% endblock content %}

{% block script %}
 <script src="{% static 'js/cool_register.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.0/sweetalert.min.js"></script>


    <script>
      let err = '{{error}}';

    if(err==='True'){
        showAlert('{{message}}');
    }


    function showAlert(title) {
        swal({
          text: title,
          dangerMode: true,
          buttons: true,
          closeOnClickOutside: false,
          timer: 6000,
        });
      }
    </script>
{% endblock script %}
